@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Harmony Sans';
  src: url('../public/fonts/HarmonySans_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('../public/fonts/HarmonySans_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@layer utilities {
  ::selection {
    background-color: theme('backgroundColor.selection-light');
  }
  .dark ::selection {
    background-color: theme('backgroundColor.selection-dark');
  }
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 4px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: transparent; /* 轨道颜色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #888; /* 滑块颜色 */
  border-radius: 4px; /* 滑块圆角 */
}

/* 当鼠标悬停在滑块上时 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滑块悬停颜色 */
}

.progress-bar {
  height: 3rem;
}

.text-glow-black {
  text-shadow: 0 0 20px rgba(0, 0, 0);
}

.text-glow-white {
  text-shadow: 0 0 20px rgba(255, 255, 255);
}

.title-box {
  @apply h-full rounded-lg border-2 flex items-center;
}

.section-title {
  @apply text-2xl sm:text-3xl font-bold text-center mb-2;
}

.section-subtitle {
  @apply text-[0.8rem] text-center mb-4;
}

.post-card:hover {

}
.markdown-custom ul {
  @apply list-disc;
}
.markdown-custom ol {
  @apply list-decimal;
}

.intro {
  @apply flex flex-col sm:grid grid-cols-8 gap-4 sm:gap-8 items-center justify-center;
}

.intro > div {
  @apply w-full sm:h-full border-2 rounded-xl;
}

.intro .hello {
  font-weight: 700;
}

.intro .emphasis {
  @apply text-3xl font-bold text-primary mx-2;
}

.intro .sub-emphasis {
  @apply text-xl font-bold mx-1;
}

.location-icon {
  @apply bg-primary rounded-full border-4 border-black/70;
}






