@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Harmony Sans';
  src: url('../public/fonts/HarmonySans_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('../public/fonts/HarmonySans_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@layer utilities {
  ::selection {
    background-color: theme('backgroundColor.selection-light');
  }
  .dark ::selection {
    background-color: theme('backgroundColor.selection-dark');
  }
}

.text-glow-black {
  text-shadow: 0 0 20px rgba(0, 0, 0);
}

.text-glow-white {
  text-shadow: 0 0 20px rgba(255, 255, 255);
}

.sidebar-box {
  @apply h-full rounded-lg border-2 flex items-center px-4;
}

.section-title {
  @apply text-2xl sm:text-3xl font-bold text-center mb-2;
}

.section-subtitle {
  @apply text-[0.8rem] text-center mb-4;
}

.markdown-custom h2 {
  @apply text-primary;
}